
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&display=swap');


.moviecard{
    margin-top: 50px;
    display: grid;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template-columns: 20% 20% 20% 20%;
    position: relative;
}
.each-card{
    background-color: transparent;
    border: none;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 5px black;
    color: white;
    height: 350px;
    width: 300px;
    transition: 320ms;
}
.each-card:hover{
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 15px;
    transform: scale(1.08);
    box-shadow: 10px 10px 15px black;
}
.each-card img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: brightness(0.5);
}

.each-card div{
    position: relative;
}
.each-card p{
    font-family: Caveat;
}
.each-card h5{
    font-family: Arvo;
}